main .gallery-container {
    background-color: #9800f03e;
    padding: 10px 0;
}

main .imgs-container.grid {
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
    grid-gap: 5px;
    justify-content: center;
    justify-items: center;
}

main .imgs-container>* {
    border-radius: 8px;
    display: flex;
    height: 9.375rem;
    border: 1px solid black;
    justify-content: center;
}

main .gallery-container img:hover {
    opacity: 0.8;
    cursor: pointer;
}