* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #DDDDDD;
}

main {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 80vh;
}

.main-wrapper {
    border-left: 0.5px solid #DFDFDE;
    border-right: 0.5px solid #DFDFDE;
}

.selected {
    box-shadow: inset 0px -6px 0 grey;
}

footer {
    font-family: 'teko', sans-serif;
    background-color: #FDAF75;
    border-top: 3px solid #333C83;
    position: fixed;
    width: 100%;
    bottom: 0;
}