.meme-container {
    padding: 20px 0;
}

.meme-editor.flex {
    /* justify-content: space-evenly; */
    /* align-items: center; */
    min-width: 1em;
    padding: 25px 10px;
    /* height: 28.375rem; */
    /* width: 980px; */
    background-color: rgb(223, 155, 9);
    border-radius: 5px;
}

main .meme-editor canvas {
    /* background-color: #8e1212; */
}

main .meme-editor .canvas-container {
    width: 50vw;
    height: 60vh;
    padding-right: 20px;
}

main .meme-editor .control-box.grid {
    /* height: 17.5em; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    /* border: 5px solid black; */
    border-radius: 5px;
}

.switch-line::after {
    content: '1';
}

.switch-line.txt2::after {
    content: '2';
}

.control-box .increase-font::after {
    content: '+';
}

.control-box .decrease-font::before {
    content: '-';
}

.meme-editor .select {
    border-radius: 5px;
    background-color: orangered;
    border: none;
}

.meme-editor .select:hover {
    /* border: 0.2px solid rgb(136, 36, 0); */
    background-color: rgba(255, 68, 0, 0.546);
    color: #000000;
    cursor: pointer;
}

.control-box.grid .switch-line {
    grid-row: 3;
    grid-column: span 2;
}

.control-box.grid .font-select {
    grid-row: 3;
    grid-column: 3/-1;
    /* height: min-content; */
    align-self: center;
}

.control-box.grid .txt-input {
    grid-column: 1/-1;
    border-radius: 5px;
}

.control-box.grid .color-input {
    grid-row: 2;
    grid-column: 3/-1;
    justify-self: center;
    align-self: center;
}

.control-box.grid .decrease-font {
    /* grid-area: decrease; */
    grid-column: 1;
    grid-row: 2;
}

.control-box.grid .download>a {
    color: inherit;
    text-decoration: none;
}

.control-box.grid .download>a:hover {
    text-decoration: none;
}

.control-box.grid .download {
    /* grid-area: download; */
    grid-row: 4;
    background-color: blueviolet;
    color: #f8f8f8;
    grid-column: 1/3;
}

.control-box.grid .download:hover {
    background-color: rgba(137, 43, 226, 0.6);
}

.control-box.grid .share {
    background-color: rgb(48, 68, 164);
    color: #f8f8f8;
    /* grid-area: share; */
    grid-row: 4;
    grid-column: -3/-1;
}

.control-box.grid .share:hover {
    background-color: rgba(48, 67, 164, 0.658);
}

.control-box.grid .bakimer {
    grid-row: 5;
    grid-column: 1/-1;
    background-color: rgb(62, 171, 11);
    color: gold;
}

.control-box.grid .bakimer:hover {
    background-color: rgba(62, 171, 11, 0.667);
}

.control-box.grid .share>a:hover {
    background-color: rgb(44, 64, 160);
    color: #f8f8f8;
}